.nav-item__active {
  border-bottom: 3px solid #db7a4e;
}

.navbar a {
  text-decoration: none;
  color: #335576;
}

.destination-item__hawaii {
  background-image: url(../assets/Images/hawaii.jpg);
}

.destination-item__iceland {
  background-image: url(../assets/Images/iceland.jpg);
}

.destination-item__greece {
  background-image: url(../assets/Images/greece.jpg);
}

.destination-item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 500px;
  padding-top: 50px;
  padding-bottom: 100px;
}
.destination-item__header {
  color: white;
  font-size: 90px;
  position: relative;
  letter-spacing: 1px;
  top: -80px;
  left: 90px;
}
.destination-item__card {
  display: flex;
  justify-content: space-evenly;
  margin: 0 90px;
  position: relative;
  top: -100px;
  text-align: center;
}
.destination-item__days {
  background-color: white;
  border-radius: 10px;
  height: 300px;
  width: 250px;
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 4px 4px black;
}
.destination-item__day {
  border-bottom: 3px solid black;
  position: relative;
  bottom: 35px;
}
.destination-item__menu {
  background-color: #FEFAF5;
  padding: 10px;
  position: relative;
  bottom: 25px;
}

/* Footer */
.footer-item {
  background-color: #fefaf5;
  display: flex;
  justify-content: space-around;
  padding: 20px 150px;
  padding-bottom: 50px;
}
.footer-item__header {
  color: #335576;
  padding-bottom: 15px;
}
.footer-item__middle {
  color: #db7a4e;
}
.footer-item__bottom {
  color: #335576;
}
.footer-item__hour-item {
  display: flex;
}
.footer-item__day {
  margin: 20px;
  position: relative;
  bottom: 0.9375rem;
  color: #db7a4e;
}
.footer-item__day span {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 15px;
  color: #335576;
}
.footer-item__icon-gallery {
  display: flex;
}
.footer-item__icon {
  padding: 15px;
  height: 30px;
  width: 100%;
}
.footer-item__email {
  text-decoration: none;
  color: #335576;
}

.form-item__header {
  text-align: center;
  color: #335576;
}

.form-item__container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #FEFAF5;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #335576;
  color: #FEFAF5;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #db7a4e;
}

/* ------------------------------------------------------------------MOBILE--------------------------------- */
@media only screen and (min-width: 350px) and (max-width: 760px) {
  html,
  body {
    max-width: 90vh;
  }
  nav {
    padding-left: 25px;
    width: 90vh;
  }
  .destination-item {
    width: 100vh;
  }
  .destination-item__card {
    display: flex;
    flex-direction: column;
    margin: 0 270px;
    position: relative;
    top: -100px;
    text-align: center;
    gap: 0.625rem;
  }
  .destination-item__days {
    background-color: white;
    border-radius: 20px;
    height: 275px;
    width: 350px;
    padding: 10px;
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .destination-item__day {
    border-bottom: 3px solid black;
    position: relative;
    bottom: 35px;
  }
  .destination-item__menu {
    background-color: #FEFAF5;
    padding: 10px;
    position: relative;
    bottom: 25px;
  }
  .destination-item__iceland {
    height: 1210px;
  }
  .destination-item__hawaii {
    height: 1210px;
  }
  .destination-item__greece {
    height: 1210px;
  }
  .footer-item {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 -80px;
    gap: 40px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  html,
  body {
    max-width: auto;
  }
  nav {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .footer-item {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 15px;
    margin: 0 0px;
    margin-left: -40px;
    gap: 40px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  body {
    max-width: auto;
  }
  .destination-item__card {
    display: flex;
    justify-content: space-evenly;
    margin: 0 90px;
    position: relative;
    top: -100px;
    text-align: center;
    gap: 35px;
  }
  .destination-item__days {
    background-color: white;
    border-radius: 10px;
    height: 18.75rem;
    width: 15.625rem;
    padding: 0.625rem;
    padding-top: 1.875rem;
    padding-bottom: 0.625rem;
  }
  .footer-item {
    background-color: #fefaf5;
    display: flex;
    justify-content: space-between;
    position: relative;
    right: 3.125rem;
  }
}/*# sourceMappingURL=destination.css.map */