
$primary-orange: #db7a4e;
$primary-blue: #335576;


// Iceland 

// Iceland Navbar start

.nav-item__active {
    border-bottom: 3px solid $primary-orange;
  }

.navbar a {
    text-decoration: none;
    color: #335576;
}

// Iceland Navbar end

.destination-item__hawaii {
    background-image: url(../assets/Images/hawaii.jpg);
    
}



.destination-item__iceland {
    background-image: url(../assets/Images/iceland.jpg);
    
}


.destination-item__greece {
    background-image: url(../assets/Images/greece.jpg);
}




.destination-item {
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 500px;
    padding-top: 50px;
    padding-bottom: 100px;

    &__header {
    color: white;
    font-size: 90px;
    position: relative;
    letter-spacing: 1px;
    top: -80px;
    left: 90px;
    }

    &__card {
        display: flex;
        justify-content: space-evenly;
        margin: 0 90px;
        position: relative;
        top: -100px;
        text-align: center;
    }

    &__days {
        background-color: white;
        border-radius: 10px;
        height: 300px;
        width: 250px;
        padding: 10px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__day {
        border-bottom: 3px solid black;
        position: relative;
        bottom: 35px;
        
    }

    &__menu {
        background-color: #FEFAF5;
        padding: 10px;
        position: relative;
        bottom: 25px;
        
    }

}


  /* Footer */
  
  .footer-item {
    background-color: #fefaf5;
    display: flex;
    justify-content: space-around;
    padding: 20px 150px;
  
    padding-bottom: 50px;

    &__header {
        color: $primary-blue;
        padding-bottom: 15px;
    }
 
    &__middle {
        color: $primary-orange;
    }

    &__bottom {
        color: $primary-blue;
    }

    &__hour-item {
        display: flex;

    }

    &__day {
        margin: 20px;
    position: relative;
    
    bottom: .9375rem;
    color: #db7a4e;
    
    }

    &__day span {
        display: flex;
        justify-content: space-between;
        position: relative;
        top: 15px;
        color: $primary-blue;
    }


    &__icon-gallery {
        display: flex;
        //     justify-content: space-evenly;
    }

    &__icon {
        padding: 15px;
        height: 30px;
        width: 100%;
    }
   
    &__email {
        text-decoration: none;
        color: $primary-blue;
      }

   

    
 
}

  
@media only screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : portrait) {


    .destination-item__card {
        display: flex;
        justify-content: space-evenly;
        margin: 0 90px;
        position: relative;
        top: -100px;
        text-align: center;
        gap: 35px;


      
    }

    .destination-item__days {
        background-color: white;
        border-radius: 10px;
        height: 18.75rem;
        width: 15.625rem;
        padding: .625rem;
        padding-top: 1.875rem;
        padding-bottom: .625rem;
    }


  // Footer-Tablet
  
    .footer-item {
      background-color: #fefaf5;
    
      display: flex;
      justify-content: space-between;
        position: relative;
        right: 3.125rem;
     
    
    }

}