@mixin transition {
  transition: all 0.3;
  transform: scale(1);
}

$primary-orange: #db7a4e;
$primary-blue: #335576;

.travel-top {
  margin-top: 1.25rem;
  width: 100vh;
  height: 28.125rem;
  background-color: #fefaf5;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header__primary {
  color: #335576;
}

.travel-header {
  margin: 0;
  position: relative;
  top: 6.25rem;
  left: 5.625rem;
}

.travel-top {
  color: #335576;

  & h2 {
    justify-content: center;
    margin-bottom: 20px;
    font-size: 33px;
  }

  & p {
    font-weight: lighter;
  }

  &__button {
    position: relative;
    top: -250px;
    background-color: #db7a4e;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 40px;
    position: relative;
    left: 5.625rem;
  }

  &__image {
    position: relative;
    height: 25rem;
    top: -125px;
    left: 35.3125rem;
  }
}

.nav-item__active {
  border-bottom: 10px solid $primary-orange;
}

//   Hero

.hero-item {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 75px;

  &__top {
    color: #335576;
    position: relative;
    padding-left: 40px;
    top: 1.875rem;
    left: 3.125rem;
  }
}

.hero-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &__gallery {
    display: flex;
    justify-content: space-between;
    margin: 0 13.5rem;
    position: relative;
    top: 3.125rem;
  }

  &__image {
    height: 22.875rem;
    width: 15.625rem;
    border-radius: 0.3125rem;
    box-shadow: 0.3125rem 0.3125rem 0.3125rem rgb(68, 66, 66);
  }

  &__text {
    text-align: center;
    position: relative;

    top: -60px;
    left: 50px;
    

    color: white;
  }

  & a {
    text-decoration: none;
  }
}

.hero-image__image-hawaii {
  @include transition();
}
.hero-image__image-iceland {
  @include transition();
}
.hero-image__image-greece {
  @include transition();
}

.hero-image__image-hawaii:hover {
  transform: scale(1.1);
}
.hero-image__image-iceland:hover {
  transform: scale(1.1);
}
.hero-image__image-greece:hover {
  transform: scale(1.1);
}

/* Footer */

.footer-item {
  background-color: #fefaf5;
  display: flex;
  justify-content: space-around;
  padding: 20px 190px;
  padding-bottom: 50px;

  &__header {
    color: $primary-blue;
    padding-bottom: 15px;
    position: relative;
  }

  &__middle {
    color: $primary-orange;
  }

  &__bottom {
    color: $primary-blue;
  }

  &__hour-item {
    display: flex;
  }

  &__day {
    margin: 15px;
    position: relative;
    right: 15px;

    bottom: 0.9375rem;
    color: #db7a4e;
  }

  &__day span {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 15px;
    color: $primary-blue;
  }

  &__icon-gallery {
    display: flex;
    //     justify-content: space-evenly;
  }

  &__icon {
    padding: 15px;
    height: 30px;
    width: 100%;
  }

  &__email {
    text-decoration: none;
    color: $primary-blue;
  }
}

// Mobile Design

@media only screen and (min-width: 350px) and (max-width: 760px) {
  html,
  body {
    max-width: 100%;
  }

  // tablet nav bar start

  nav {
    
    padding-left: 25px;
    width: 100vh;
  }

  .travel-top {
    font-size: 20px;
    text-align: left;

    & h2 {
      justify-content: left;

      font-size: 30px;
    }

    &__button {
      position: relative;
      margin-top: 400px;
      align-items: center;
    }

    &__image {
      height: 300px;
      margin-left: -200px;
      margin-bottom: 100px;
    }
  }

  .travel-header__paragraph {
    width: 350px;
    font-size: 20px;
  }

  .hero-item {
    width: 115vh;
    padding-top: 10%;

    &__top {
      color: #335576;
      align-items: center;
      position: absolute;
      left: 5px;
      right: 10px;
      margin: 550px 250px;
    }
  }

  .hero-item img {
    height: 300px;
    width: 250px;
  }


  .hero-image__gallery {
   
  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: 1.625rem;
  }


  .footer-item {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 0px;
    gap: 40px;
    }
}

// Tablet Design

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  html,
  body {
    max-width: 50%;
  }

  // tablet nav bar start

  nav {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  // tablet nav bar end

  // tablet header

  .travel-top {
    font-size: 15px;
    text-align: left;

    & h2 {
      justify-content: left;
      margin-bottom: 30px;
      margin-top: -50px;

      font-size: 25px;
    }

    &__button {
      position: relative;
      margin-top: 400px;
      left: 5.625rem;
    }

    &__image {
      height: 300px;
      margin-left: -275px;
      margin-bottom: 100px;
    }
  }

  .travel-header__paragraph {
    width: 350px;
    font-size: 15px;
  }

  .hero-image__gallery {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
  }
  //tablet footer

 
  .footer-item {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -150px;
  }
}

// // Desktop Design

@media only screen and (min-width: 1281px) and (max-width: 1440px) {
  .travel-top {
    &__button {
      position: relative;
      left: 5.625rem;
      top: -225px;
    }

    &__image {
      position: relative;
      height: 25rem;
      top: -125px;
      left: 650px;
    }
  }
}
// }
