.travel-top {
  margin-top: 1.25rem;
  width: 100vh;
  height: 28.125rem;
  background-color: #fefaf5;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header__primary {
  color: #335576;
}

.travel-header {
  margin: 0;
  position: relative;
  top: 6.25rem;
  left: 5.625rem;
}

.travel-top {
  color: #335576;
}
.travel-top h2 {
  justify-content: center;
  margin-bottom: 1.25rem;
  font-size: 2.0625rem;
}
.travel-top p {
  font-weight: lighter;
}
.travel-top__button {
  position: relative;
  top: -15.625rem;
  background-color: #db7a4e;
  color: white;
  border: none;
  border-radius: .9375rem;
  padding: .875rem 2.8125rem;
  left: 5.625rem;
}
.travel-top__image {
  position: relative;
  height: 25rem;
  top: -125px;
  left: 35.3125rem;
}

.nav-item__active {
  border-bottom: .1875rem solid #db7a4e;
}

.hero-item {
  background-color: white;
  padding-top: 1.25rem;
  padding-bottom: 4.6875rem;
}
.hero-item__top {
  color: #335576;
  position: relative;
  padding-left: 2.5rem;
  top: 1.875rem;
  left: 3.125rem;
}

.hero-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-image__gallery {
  display: flex;
  justify-content: space-between;
  margin: 0 12.5rem;
  position: relative;
  top: 3.125rem;
}
.hero-image__image {
  height: 21.875rem;
  width: 15.625rem;
  border-radius: .3125rem;
  box-shadow: .3125rem .3125rem .3125rem rgb(68, 66, 66);
}
.hero-image__text {
  text-align: center;
  position: relative;
  top: -3.75rem;
  left: 4.375rem;
  color: white;
}
.hero-image a {
  text-decoration: none;
}

.hero-image__image-hawaii {
  transition: all 0.3;
  transform: scale(1);
}

.hero-image__image-iceland {
  transition: all 0.3;
  transform: scale(1);
}

.hero-image__image-greece {
  transition: all 0.3;
  transform: scale(1);
}

.hero-image__image-hawaii:hover {
  transform: scale(1.1);
}

.hero-image__image-iceland:hover {
  transform: scale(1.1);
}

.hero-image__image-greece:hover {
  transform: scale(1.1);
}

/* Footer */
.footer-item {
  background-color: #fefaf5;
  display: flex;
  justify-content: space-around;
  padding: 1.25rem 11.875rem;
  padding-bottom: 3.125rem;
}
.footer-item__header {
  color: #335576;
  padding-bottom: 15px;
  position: relative;

}
.footer-item__middle {
  color: #db7a4e;
}
.footer-item__bottom {
  color: #335576;
}
.footer-item__hour-item {
  display: flex;
}
.footer-item__day {
  margin: 15px;
  position: relative;
  right: 15px;
  bottom: 0.9375rem;
  color: #db7a4e;
}
.footer-item__day span {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 15px;
  color: #335576;
}
.footer-item__icon-gallery {
  display: flex;
}
.footer-item__icon {
  padding: 15px;
  height: 30px;
  width: 100%;
}
.footer-item__email {
  text-decoration: none;
  color: #335576;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  html,
  body {
    max-width: 100%;
  }
  nav {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .travel-top {
    font-size: 15px;
    text-align: left;
  }
  .travel-top h2 {
    justify-content: left;
    margin-bottom: 30px;
    margin-top: -50px;
    font-size: 25px;
  }
  .travel-top__button {
    position: relative;
    margin-top: 400px;
    left: 5.625rem;
  }
  .travel-top__image {
    height: 300px;
    margin-left: -275px;
    margin-bottom: 100px;
  }
  .travel-header__paragraph {
    width: 350px;
    font-size: 15px;
  }
  .hero-image__gallery {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
  }
  .footer-item {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -150px;
  }
}
@media only screen and (min-width: 1281px) and (max-width: 1440px) {
  .travel-top__button {
    position: relative;
    left: 5.625rem;
    top: -225px;
  }
  .travel-top__image {
    position: relative;
    height: 25rem;
    top: -125px;
    left: 650px;
  }
}/*# sourceMappingURL=main.css.map */