$primary-orange: #db7a4e;
$primary-blue: #335576;

.travel-top {
  margin-top: -1.25rem;
  width: 100%;
  height: 28.125rem;
  background-color: #fefaf5;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header__primary {
  color: #335576;
}

.travel-header {
  margin: 0;
  position: relative;
  top: 6.25rem;
  left: 5.625rem;
}

.travel-top {
  color: #335576;

  & h2 {
    justify-content: center;
    margin-bottom: 20px;
    font-size: 33px;
  }

  & p {
    font-weight: lighter;
  }

  &__button {
    position: relative;
    top: -250px;
    background-color: #db7a4e;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 40px;
    position: relative;
    left: 5.625rem;
  }

  &__image {
    position: relative;
    height: 25rem;
    top: -125px;
    left: 35.3125rem;
  }
}

.nav-item__active {
  border-bottom: 3px solid $primary-orange;
}

//   Hero

.hero-item {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 75px;

  &__top {
    color: #335576;
    position: relative;
    top: 1.875rem;
    left: 3.125rem;
  }
}

.hero-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &__gallery {
    display: flex;
    justify-content: space-between;
    margin: 0 12.5rem;
    position: relative;
    top: 3.125rem;
  }

  &__image {
    height: 350px;
    width: 250px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(68, 66, 66);
    transition: all 0.3;
    transform: scale(1);
  }


  &__text {
    text-align: center;
    position: relative;

    top: -60px;
    left: 70px;

    color: white;
    
  }

  & a {
    text-decoration: none;
  }

}


.hero-item:hover img{
  transform: scale(1.1);
}



/* Footer */

.footer-item {
  background-color: #fefaf5;
  display: flex;
  justify-content: space-around;
  padding: 20px 190px;
  padding-bottom: 50px;

  &__header {
    color: $primary-blue;
    padding-bottom: 15px;
    position: relative;
  }

  &__middle {
    color: $primary-orange;
  }

  &__bottom {
    color: $primary-blue;
  }

  &__hour-item {
    display: flex;
  }

  &__day {
    margin: 15px;
    position: relative;
    right: 15px;

    bottom: 0.9375rem;
    color: #db7a4e;
  }

  &__day span {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 15px;
    color: $primary-blue;
  }

  &__icon-gallery {
    display: flex;
    //     justify-content: space-evenly;
  }

  &__icon {
    padding: 15px;
    height: 30px;
    width: 100%;
  }

  &__email {
    text-decoration: none;
    color: $primary-blue;
  }
}

@media (max-width: 390px) {
//  navbar

nav {
  background-color: white;
  width: 200%;
  color: #335576;

}
.travel-top {
  margin-top: -1.25rem;
  width: 200%;
  height: 28.125rem;
  background-color: #fefaf5;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  

&__image {
  position: relative;
  right: 50px;

}


&__button {
  color: blue;
  position: absolute;
  top: 350px;

}



}


}

@media (max-width: 1279px) {
  .hero-image__gallery {
    display: flex;
    justify-content: space-between;
    margin: 2 20.5rem;
    position: relative;
    top: 3.125rem;
  }

  




}
